    * {
        padding: 0;
        margin: 0;
    }

    #search h1 {
        padding-bottom: 30px;
        padding-top: 10px;
        text-align: center;
    }

    #search {
        border: 5px solid rgb(179, 177, 177);
        margin-top: 20px;
    }

    #search input {
        padding-left: 7px;
        font-size: large;
        margin: 20px;
        width: 300px;
        height: 40px;
    }

    body {
        background-color: rgb(229, 229, 229);
    }

    #yammy {
        width: 90vw;
        margin: auto
    }

    #btn {
        padding: 9px;
        width: 90px;
        font-size: large;
    }

    #app {
        border: 5px solid rgb(179, 177, 177);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px
    }

    #backgroundChange {
        display: flex;
        padding-left: 50px;
        border-radius: 0 0 15px 15px;
        margin: auto;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
        width: 40vw;
        background-color: aliceblue;
        padding-right: 50px;
        height: 50px;
        max-width: 400px;
    }

    #backgroundChange input {
        scale: 2;
    }

    input[id="pink"]:checked {
        accent-color: pink;
    }

    input[id="grey"]:checked {
        accent-color: rgb(161, 161, 161);
    }

    input[id="blue"]:checked {
        accent-color: rgb(5, 0, 191);
    }

    input[id="green"]:checked {
        accent-color: rgb(18, 117, 21);
    }

    input[id="black"]:checked {
        accent-color: rgb(14, 36, 37);
    }